.main-container .home-page-container {
    transition: all .5s;
    height: 55vh;
    
    background-image: url(../img/bg_header.jpg);
    background-position: center top -15vh;
    background-repeat: no-repeat;
}

.main-container .home-page-content {
    height: 100%;
    background-color: rgba(39, 151, 250, 0.1);
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}

.main-container .home-page-content h1 {
   font-size: 32px;
   color: #fff;
}

.main-container .home-page-content p {
    font-style: italic;
    font-size: 18px;
    padding: 24px;
    color: #fff;
}

.main-container .home-page-content p::before {
    content: "«";
}

.main-container .home-page-content p::after {
    content: "»";
}

.main-container .presentation-content {
    display: flex;
    margin: 0 5em;
    padding: 4em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-container .presentation-content .text {

    animation-duration: .4s;
    animation-name: preText;

    color: #616161;
    width: 50%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-container .presentation-content h2 {
    font-weight: bold;
    font-size: 32px;
    padding: 20px 0;
}

.main-container .presentation-content .preview {
    margin: 15px;
}

.main-container .presentation-content img {
    animation-duration: .4s;
    animation-name: preImg;

    
    -webkit-filter: blur(1px) grayscale(100%);
    filter: blur(1px) grayscale(100%);
    transform: scale(.95);

    border-radius: 50px;
    /*box-shadow: 25px 25px 25px rgba(0, 0, 0, .23);*/
}

.main-container .presentation-content img:hover {
    /*animation: .9s linear 0s infinite alternate preImgHover;*/

    -webkit-filter: blur(0);
    filter: blur(0);
    transform: scale(1);
    box-shadow: 25px 25px 25px rgba(0, 0, 0, .16);
}

.product-container .product-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.product-container .title {
    margin: 0 10px;
    text-align: center;
}

.product-container .title h2 {
    font-size: 64px;
    color: #616161;
}

.product-container .title h3 {
    font-size: 32px;
    color: #868686;
    font-style: italic;
}

.product-container .grid-container {
    width: 80%;

    
    display: flex;
    justify-items: center;
    align-items: center;
}

.product-container .grid-container .grid-content {
    width: 100%;

    display: grid;
    grid-template-columns: auto auto;/*
    grid-gap: 20px;
    padding: 10px;*/

    margin: 50px;
}

.product-container .grid-container .grid-content .box {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    height: 12em;
    text-align: center;

    border-radius: 10px;
}

.product-container .grid-content .text {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    background-color: rgba(39, 151, 250, .5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.product-container .grid-content a {
    text-decoration: none;
    color: whitesmoke;
}

.box:hover {
    transform: scale(1);
    box-shadow: 0px 0px 10px rgba(0,0,0, .23);
   /* transform: rotateY(360deg);*/    
}

.box {
    transform: scale(.9);
}

.item1 {
    background-image: url(../img/type_1.jpg);
    background-position: center;
    background-size: cover;
}

.item2 {
    background-image: url(../img/type_2.jpg);
    background-position: center;
    background-size: cover;
}

.item3 {
    background-image: url(../img/type_3.jpg);
    background-position: center;
    background-size: cover;
}

.item4 {
    background-image: url(../img/type_4.jpg);
    background-position: center bottom;
    background-size: cover;
}



/*
@keyframes preImgHover {
    from { 
        transform: translateY(-5px); 
    } 
    to { 
        transform: translateY(5px); 
    }  
}
@-webkit-keyframes preImgHover { 
    from { 
        transform: translateY(-5px); 
    } 
    to { 
        transform: translateY(5px); 
    }  
}
*/



/*
@keyframes preImg {
    from {
        height: 0%; 
    }

    to {
        height: 100%;
    }
}

@keyframes preText {
    from {
        width: 100%; 
    }

    to {
        width: 50%;
    }
}

@media screen and (max-width: 1250px){
    .main-container .presentation-content {
        padding: 10px;
        margin: 0 10px;
    }

    .main-container .presentation-content img {
        margin-top: 90px;
    }
}*/
/*
@media screen and (max-width: 900px){
    .grid-content {
        display: flex;
        flex-direction: column;
        background-color: red;
        width:800px;
        height:auto;
    }
    
    .box {
        margin: 0 10px;
        height: 360px;
    }
}*/
@media screen and (max-width: 1300px){
    .main-container .presentation-content {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 0;
        padding: 2em 0;
    }

    .main-container .presentation-content .text {
        transition: .2s;
    
        color: #616161;
        width: 90%;
    }

    .product-container .grid-container .grid-content {
        grid-template-columns: auto;
        width: 100%;
    }

    .product-container .grid-container {
        width: 100%;
    }
}




/*
.main-container .presentation-content .text {
    width: 70%;
}

.main-container .presentation-content img {
    width: 90%;
}*/