@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    transition: all .5s;
    box-sizing:border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header-container {
    width: 100%;
    height: 60px;
    background-color: #2799fa;
}

.header-content {
    transition: all .5s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header-content .logo {
    font-weight: bold;
}

.header-content a {
    transition: all .5s;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.header-content .main-menu a {
    font-size: 14px;
    margin: 0 40px;
}

.header-content .main-menu a:hover {
    background-color: white;
    color: #2799fa;
    transform: scale(1.5);
    border-radius: 10px;
    padding: 12px;
}

.footer-page-content {
    background-color: #2797fa8c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-page-content .info {
    height: 100%;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.footer-page-content .info p {
    display: inline-block;

    /*width: 40%;*/
    margin: 0 20%;
    padding: 20px 0;
    line-height: 25px;
}

.footer-page-content .info h2{
    padding: 20px 0;
    font-size: 48px;
}

.footer-page-content .contact {
    padding: 20px 0;
}

.footer-page-content .contact a {
    text-decoration: none;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    border: 2px solid white;
    border-radius: 20px;
}

.footer-page-content .contact:hover {
    transform: scale(1.1);
}

.footer-page-content .contact a:hover {

    transform: scale(1.1);/*
    color: #2799fa;
    border-color: #2799fa;*/
}

.footer-page-content .icon {
    padding: 20px 0 30px 0;
}

.footer-page-content .icon i {
    color: white;
    margin: 0 15px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
}

.footer-page-content .icon i:hover {
    background-color: white;
    color: #2799fa;
    transform: scale(1.5)
}

.footer-container {
    width: 100%;
    background-color: #2799fa;
    color: white;
    text-align: center;
    line-height: 70px;
}

.footer-container p a {
    color: white;
    text-decoration: none;
}

.footer-container p a:hover {
    text-decoration: underline;
}

.gotohome {
    transition: all .5s;
    position: fixed;
    width: 56px;
    height: 56px;
    background: #2799fa;
    border-radius: 10px;
    bottom: 30px;
    right: 30px;

    text-align: center;
    line-height: 56px;    
    color: white;
    font-size: 32px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, .3);
}

@media screen and (max-width: 480px){
    .header-content .main-menu {
        display: none;
    }    

    .header-content {
        margin: 0 20px;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 770px){
    .gotohome {
        display: none;
    }
}
/*
@media screen and (min-width: 480px){
    .header-content{
        flex-direction: column;
    }
    .header-content .main-menu .headerresp {
        display: none;
    }    
}*/

