.notice-container {
    padding: 50px 0;
}

.notice-content {
    margin: 0 10% 0 17%;

    width: 70%;
    color: #616161;
}

.notice-content .notice-p1 h1{
    font-size: 70px;
    color: #616161;
    padding: 30px 0;
}

.notice-content .notice-p2 h3{
    font-size: 24px;
    padding: 12px 0 24px 0;
}

.notice-content .notice-p2 p{
    margin-bottom: 20px;
}

.notice-content .notice-p3 h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.notice-content h3{
    color: #6b6b6b;
}

.notice-content p{
    color: #979797;
}