.product-content {
    display: flex;
    justify-content: space-between;
}

.main-product-container {
    width: 62%;
    padding-top: 60px;
}

.main-product-content {
    margin-left: 29%;
}

.main-product-content .title {
    color: #616161;
}

.main-product-content .title h3 {
    text-transform: uppercase;
    font-size: 14px;
}

.main-product-content .title h1 {
    padding: 30px 0;
    font-size: 44px;
    font-weight: 600;
}

.main-product-content .preview {
    width: 100%;
    height: 384px;
}

.main-product-content .preview  img{
    height: 100%;
    border-radius: 20px;
}


.main-product-content .description {
    color: #8b8b8b;
    padding: 30px 0;
}

.main-product-content .description p {
    padding-bottom: 20px;
}

.other-product-container {
    width: 38%;
    padding-top: 60px;
    background-color: lavender;
}

.other-product-content {
    margin-left: 60px;
    background-color: red;
    width: calc(38% - 60px + 60px);
}