.product-content {
    display: flex;
    justify-content: space-between;
}

.main-product-container {
    width: 62%;
    padding-top: 60px;
}

.main-product-content {
    margin-left: 29%;
}

.main-product-content .title {
    color: #616161;
}

.main-product-content .title h3 {
    text-transform: uppercase;
    font-size: 14px;
}

.main-product-content .title h1 {
    padding: 30px 0;
    font-size: 44px;
    font-weight: 600;
}

.main-product-content .preview {
    width: 100%;
    height: 384px;
}

.main-product-content .preview  img{
    height: 100%;
    border-radius: 20px;
}


.main-product-content .description {
    color: #8b8b8b;
    padding: 30px 0;
}

.main-product-content .description p {
    padding-bottom: 20px;
}

.other-product-container {

    width: 38%;
    padding-top: 60px;
}

.other-product-content {
    padding: 0 10px;
   width: calc(100%);
}

.other-product-content .item .box {
    padding-bottom: 50px;
}

.other-product-content .item {

    display: flex;
    flex-flow: row wrap;

}

.other-product-content .box {
    margin: 0 auto;
    width: 60%;
    transform: scale(.9);
}

.other-product-content .box:hover {
    transform: scale(1);
}

.other-product-content .item img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.other-product-content a {
    text-decoration: none;
}

.other-product-content .box .info h2 {
    color: white;
    padding: 10px;
    bottom: -39px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    background-color: rgba(39, 151, 250, .9);
    text-align: center;
    z-index: 999;
}

@media screen and (max-width: 650px){
    .product-content {
        flex-direction: column;
    }

    .main-product-container {
        width: 100%;
    }

    .main-product-content {
        margin: 0 20px;
        padding: 0 0;
    }

    .other-product-container {
        padding-top: 0px;

        width: 100%;
    }

    .other-product-content .box {
        width: calc(90% - 60px);
    }
    
    .other-product-content .item .box {
        padding-bottom: 0px;
    }
}
