.main-container .product-content {
    min-height: 100vh;
    padding: 0 30px 0 30px;
}

.product-container .product {
    display: flex;
    flex-flow: row wrap;
}

.product-container .product a {
    text-decoration: none;
}

.product-content .box .item {
    width: 220px;
    height: 80%;
    margin: 0 10px;
}

.product-content .box .item:hover {
    transform: scale(1.1);
}

.product-content .box .item img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.product-content .box .item h2 {
    color: white;
    padding: 10px;
    bottom: -39px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    background-color: rgba(39, 151, 250, .5);
    text-align: center;
    z-index: 999;
}